From https://plot.ly/python/parallel-coordinates-plot/

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
# !pwd

In [5]:
import pandas as pd
df = pd.read_csv('Budget_Options.csv')

In [6]:
print('Number of entries: %d'%df.shape[0])

Number of entries: 26367

In [7]:
df.set_index('Unnamed: 0', inplace=True)
df.head()

,1-vacation,1-investment-fund,1-emergency-fund,4-travel-family,12-rent,12-insurance-health,12-insurance-hsa,12-util-electric,12-util-internet,12-util-phone,12-car-gas,12-car-maintenance,12-membership-gyms,12-recreation,52-util-laundry,365-daily-food
Unnamed: 0,,,,,,,,,,,,,,,,
0,3814.782973,25548.377736,5244.967100,529.636748,2022.414597,135.731432,256.608653,30.119208,19.939285,47.707012,57.540217,28.260091,75.287256,366.369787,21.085401,12.243343
1,5838.140030,20591.623004,4121.323077,468.360091,2176.397851,52.576675,267.256285,40.011540,35.516488,62.645169,82.893612,55.404070,122.619641,323.262981,16.723818,8.923099
2,4358.879192,26788.327326,2056.020503,463.349835,2040.994140,64.327350,210.486875,38.655281,32.828756,73.904905,25.029699,45.541123,258.055793,260.083084,6.123949,15.207352
3,4085.454972,14775.021489,9756.137445,595.503812,2174.805175,138.889478,198.344717,48.577295,46.692024,60.347288,58.492505,77.194668,227.859216,443.233952,12.966040,9.332083
4,4000.487014,26302.316165,2050.654740,446.250029,1924.417174,59.343171,157.765102,38.471182,16.433609,42.700074,80.436219,35.736671,61.392173,477.026434,14.557047,16.117115

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data=
    go.Parcoords(
        line_color='blue',
        labelangle=45,
        dimensions = [
            dict(range = [round(df[s].min()),round(df[s].max())],
                 label = s, 
                 values = df[s].values) for s in list(df.columns)]
    )
)
fig.show()

## Next steps

Let's say you hone in on several decisions and want to explore this part of the space more.
Fantastic, we can do that. Basically we can re-start the problem with a distribution that covers the points selected, narrowing down each category.

More naively, we can just throw another million samples at the problem and toss them into our samples.

We can use the selected bars to actually only reduce the initials in those particular dimensions, solve that problem with another million, and plot the results again with the bars taking up 100/% of the axis now, allowing for exploration in the remaining budget categories.